{{#if components.length}}
  <nav>
    <ul class="aigis-moduleList">
      {{#not_equal components.length 1}}
        {{#each components}}
          <li class="aigis-moduleList__item">
            <a href="#{{this.config.name}}">{{this.config.name}}</a>
          </li>
        {{/each}}
      {{/not_equal}}
    </ul>
  </nav>
  <div>
    {{#each components}}
      <aigis-module name="{{this.config.name}}" source-path="{{this.sourcePath}}">
        {{#if this.config.tag}}
          <ul class="aigis-tags">
            {{#each this.config.tag}}
              <li class="aigis-tags__item aigis-tags__item--{{this}}">{{this}}</li>
            {{/each}}
          </ul>
        {{/if}}
        {{{this.html}}}
      </aigis-module>
    {{/each}}
  </div>
{{else}}
  {{{html}}}
{{/if}}
