{{#if components.length}}
  <nav>
    <h2 class="aigis-module__heading">Components</h2>
    <ul class="aigis-moduleList">
      {{#each components}}
        <li class="aigis-moduleList__item">
          <a href="#{{this.config.name}}">{{this.config.name}}</a>
        </li>
      {{/each}}
    </ul>
  </nav>
  <div>
    {{#each components}}
      <aigis-module name="{{this.config.name}}" source-path="{{this.sourcePath}}">
        {{#if this.config.tag}}
          <ul class="aigis-tags">
            {{#each this.config.tag}}
              <li class="aigis-tags__item aigis-tags__item--{{this}}">{{this}}</li>
            {{/each}}
          </ul>
        {{/if}}
        {{{this.html}}}
      </aigis-module>
    {{/each}}
  </div>
{{else}}
  {{{html}}}
{{/if}}
